.contato {
  display: block;
  padding: 32px 28px 28px 56px;
  text-align: justify;

  &__contatos {
    list-style: none;
    padding-left: 20px;

    li {
      padding-top: 8px;
    }
    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(16, 88, 146);
      }
    }
  }

  &__disclaimer {
    padding-top: 20px;
    font-size: 12px;
  }
}
